[defaults]
host_key_checking = False
command_warnings = False
forks = 100
timeout = 30
retry_files_enabled = False
remote_tmp     = /tmp/ansible-%%h-%%p-%%r
[ssh_connection]
ssh_args=-C -o ControlMaster=auto -o ControlPersist=1200s -o BatchMode=yes
pipelining=False
control_path = /tmp/ansible-%%h-%%p-%%r
remote_tmp     = /tmp/ansible-%%h-%%p-%%r
